body {
    background-color: #49B749;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.background-body-completed {
    background-color: #0093D5;
}

.background-body-empty {
    background-color: #9B1C20;
}

.background-body-save {
    background-color: #c7cec7;
}

.background-container {
    margin-top: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    font-weight: 300;
    text-align: center;
}

h2 {
    margin: 0;
}

p {
    font-style: italic;
    color: #666;
    margin: 5px 0;
}

ol {
    margin: 20px 0;
}

ol li {
    margin: 5px 0;
    padding: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

ol li:nth-child(even) {
    background: #ddd;
}

.completed {
    text-decoration: line-through;
    color: #666;
}

.pretty-button {
    margin: 10px 2px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #0093D5;
    border: none;
    color: #fff;
    text-align: center;
    display: inline-block;
    font-size: small;
}

.pretty-button:hover {
    cursor: pointer;
    opacity: 0.75;
}

input {
    padding: 3px 6px;
}

form {
    display: inline-block;
}

#control {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clear-button {
    background-color: #49B749;
}

.empty-button {
    background-color: #9B1C20;
}

.save-button {
    background-color: #49B749;
}

@media only screen and (min-width: 1400px) {
    .background-container {
        width: 50%;
    }

    .background-container input {
        width: 600px;
    }
    
}

@media only screen and (max-width: 1399px) and (min-width: 750px) {
    .background-container {
        width: 75%;
    }

    .background-container input {
        width: 400px;
    }
}

.footer {
    opacity: 0.4;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    text-align: center;
    margin-top: 20rem;
}